
{% extends 'home_ch.html' %}
{% block title %} enregistrement 2 {% endblock title %}
{% block contenu_ch %}
    <div class="d-flex bd-highlight"  style="background-color: var(--app-color)">
    {% if catego == 9 %}
        <div class="p-2 flex-fill bd-highlight" style="background-color: springgreen">ETAPE 1/1 </div>
    {% else %}
        <div class="p-2 flex-fill bd-highlight" style="background-color: springgreen">ETAPE 1/2 </div>
        <div class="p-2 flex-fill bd-highlight">ETAPE 2/2     {{ purch_number }}
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="container-fluid row">
        {% if chambre_en > 0 %}
                    <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ chambre_en }} chambre(s) à enregistrer</div>
        {% elif chambre_en <= 0  and nbchambre is not None %}
                    <div class="p-2 flex-fill bd-highlight text-cam" style="color: steelblue">vos {{ nbchambre }} chambre(s) ont bien été enregistrées</div>
        {% endif %}

        {% if cuisine_en > 0 %}
                    <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ cuisine_en }} cuisinne(s) à enregistrer</div>
        {% elif cuisine_en <= 0  and nbcuisine is not None %}
                    <div class="p-2 flex-fill bd-highlight text-cam"  style="color: steelblue">vos {{ nbcuisine }} cuisinne(s) ont bien été enregistrées</div>
        {% endif %}
        {% if douche_en > 0 %}
                    <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ douche_en}} douche(s) à enregistrer</div>
        {% elif douche_en <= 0 and nbdouche is not None  %}
                    <div class="p-2 flex-fill bd-highlight text-cam"  style="color: steelblue">vos {{ nbdouche }} douche(s) ont bien été enregistrées</div>
        {% endif %}
        {% if salon_en > 0 %}
                    <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ salon_en }} salon(s) à enregistrer</div>
        {% elif salon_en <= 0  and nbsalon is not None %}
                    <div class="p-2 flex-fill bd-highlight text-cam"  style="color: steelblue">vos {{ nbsalon }} salon(s) ont bien été enregistrées</div>
        {% endif %}
        {% if nbinfrastructure > 0 %}
                    <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ infrastructure_en }} infrastructure(s) à enregistrer</div>
        {% endif %}
    </div>
    <div class="container-fluid row">
    <div class="col">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="montant" value="0" id="id_montant">
            <input type="hidden" name="proprietaire" value="" id="id_proprietaire">
            <input type="hidden" name="puol" value="" id="id_puol">
            {{ form.statut }}
            {{ form.type }}
            <div class="card">
              {% if messages %}
                       {% for message in messages %}
                              <div class="alert alert-danger text-center"><strong>{{ message }}</strong></div>
                       {% endfor %}

                {% endif %}
                <div class="card-header text-center">
                        <p class="text-center">
                            {% if chambre_en > 0 %}
                                            <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ chambre_en }} chambre(s) à enregistrer</div>

                            {% elif cuisine_en > 0  %}
                                            <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ cuisine_en }} cuisine(s) à enregistrer</div>
                            {% elif douche_en > 0  %}
                                            <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ douche_en }} douche(s) à enregistrer</div>
                            {% elif salon_en > 0  %}
                                            <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ salon_en }} salon(s) à enregistrer</div>
                            {% elif infrastructure_en > 0  %}
                                            <div class="p-2 flex-fill bd-highlight text-cam">vous avez {{ infrastructure_en }} infrastruture(s) à enregistrer</div>
                            {% endif %}
                        </p>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 text-cam">
                                {% if chambre_en > 0 or cuisine_en > 0 or salon_en > 0 or douche_en > 0 or catego == 9%}
                                <label for="id_longeur">Longeur</label>
                                {{ form.longeur }}
                                {% endif %}
                            </div>
                            <div class="col-lg-4 text-cam">
                                {% if chambre_en > 0 or cuisine_en > 0 or salon_en > 0 or douche_en > 0 or catego == 9 %}
                                <label for="id_largeur">Largeur</label>
                                {{ form.largeur }}
                                {% endif %}
                            </div>
                            <div class="col-lg-4 text-cam">
                                {% if chambre_en > 0 or cuisine_en > 0 or salon_en > 0 or douche_en > 0 or catego == 9 %}
                                <label for="id_hauteur">hauteur</label>
                                {{ form.hauteur }}
                                {% endif %}
                            </div>
                            <div class="col-lg-4 text-cam">
                                {% if chambre_en > 0 or cuisine_en > 0 or douche_en > 0 or catego == 9 %}
                                <label for="id_statut">type</label>
                                    <select name="statut" id="statut" class="form-control text-cam" required>
                                        <option value="moderne">moderne</option>
                                        <option value="non moderne"> non moderne</option>
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% if catego == 2 or catego == 3 or catego == 8 %}
                                {% if chambre_en > 0  %}
                                    <div class="col-lg-6 text-cam">
                                        <label for="id_sommes">sommes</label>
                                        {{ form_m.montants }}
                                    </div>
                                {% endif %}
                            {% endif %}

                            <div class="{% if catego == 2 or catego == 3 or catego == 8 %} {% if chambre_en > 0  %}  col-lg-6 {% endif %} {% else %} col-lg-12 {% endif %} text-cam">
                                <label for="id_description">description</label>
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-lg-12">
                                <div class="col-lg-4 text-cam">
                                    <label for="id_image">photo1</label>
                                    {{ form.image }}
                                </div>
                                <div class="col-lg-4 text-cam">
                                    <label for="id_imageUn">photo2</label>
                                    {{ form.imageUn }}
                                </div>
                                <div class="col-lg-4 text-cam">
                                    <label for="id_imageDeux">photo3</label>
                                    {{ form.imageDeux }}
                                </div>
                            </div>
                            <div class="row col-lg-12">
                                <div class="col-lg-6 text-cam">
                                    {% if chambre_en > 0 or cuisine_en > 0 or salon_en > 0 or douche_en > 0 %}
                                        <label for="id_insigne">insigne</label>
                                        {{ form.insigne }}
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 text-cam">
                                    {% if chambre_en > 0 or cuisine_en > 0 or salon_en > 0 or douche_en > 0 %}
                                        <label for="id_numbre">combien sont identique</label>
                                        {{ form.numbre }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-primary" value="suivant">
        </form>
    </div>
    </div>

{% endblock contenu_ch %}